<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css">
    <title>Members</title>
</head>
<body class="flex flex-col min-h-screen h-full">
    <%- include("./layout/header") %>
    <main class="flex-grow flex">
        <%-  body  %>
    </main>
    <%- include("./layout/footer") %>
</body>
</html>