@tailwind base;
@tailwind components;
@tailwind utilities;

.signup-bg {
    background-image: url("../assets/layered-waves.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-background {
    background: rgb(29,78,216);
    background: linear-gradient(90deg, rgba(29,78,216,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.blur-xs {
    --tw-blur: blur(1.5px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}