@tailwind base;
@tailwind components;
@tailwind utilities;

.signup-bg {
    background-image: url("../assets/layered-waves.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-background {
    background: rgb(29,78,216);
    background: linear-gradient(90deg, rgba(29,78,216,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}